snippet #!
  #!/bin/bash
snippet strict
  set -o errexit
  set -o nounset
  set -o pipefail

  # IFS=$'\n\t'

  ${0}
snippet sc
  # shellcheck disable=SC${1:0000}
snippet $
  "${${0:}}"
snippet func
  # DESC: ${1:}
  # ARGS: ${2:}
  ${3:func_name}() {
    ${0::}
  }
